:root {
  --primary: #3ac280;
}

.btn {
  padding: 4px 10px;
  border-radius: 40px;
  outline: none;
  border: none;
  cursor: pointer;
}
.btn:hover {
  color: #fff;
  text-decoration: none;
}
.btn--primary {
  background-color: var(--primary);
  color: #fff;
  border: 1px solid var(--primary);
}
.btn--outline {
  background-color: transparent;
  color: #fff;
  border: 1px solid var(--primary);
  transition: all 0.3s ease-out;
}

.btn--medium {
  padding: 8px 20px;
  font-size: 20px;
}

.btn--large {
  padding: 12px 26px;
  font-size: 20px;
}
/* 
.btn--medium:hover,
.btn--large:hover {
  background-color: #fff;
  color: #242424;
  transition: all 0.3s ease-out;
} */
